body{
    font-family: 'Open Sans' , sans-serif;
    background-color: rgb(205, 215, 182);
}

div {
    position: relative; /* Nécessaire pour permettre le mouvement */
    width: 200px;
    height: 200px;
    background-color: rgb(186, 186, 50);

   
}

/* Animation combinant les changements de couleur et de position */
@-webkit-keyframes chgt-couleur {
    0% { background-color: rgb(236, 18, 18); top:   by50px; left: 200px; }
    25% { background-color: red; top: 200px; left: 200px; }
    50% { background-color: rgb(211, 228, 211); top: 200px; left: 200px; }
    75% { background-color: rgb(124, 0, 128); top: 200px; left: 25px; }
    100% { background-color: rgb(2, 24, 2); top: 200px; left: 200px; }
}







/* Effet lors du survol de la souris */
div:hover {
    width: 400px;
    background-color: aqua;
}

